
.loadingBar{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  height: 3px;
  background: repeating-linear-gradient(to right, #033162 0%, #BFDFFF 50%, #033162 100%);
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  z-index: 9999;
}

@keyframes gradient {
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}
