#collapseFilters {
    position: absolute;
    width: 0;
    overflow: hidden;
    right: 40px;
    top:0;
    transition: width .3s ease;
    display: flex;

    &.show {
        width: 248px;
        
    }
}

.wmar {
    margin-left: 2px;
    margin-right: 2px; 

}

.wmar:hover,.wmar:focus, .wmar:active {
    color: #033162;
    background-color:#fff;   
}

.wmar.btn:focus {
/*    color: #033162;
    background-color:#fff;
*/
}
.LN145.selected {
    color: white;
    background-color:#619fd4;
}

.DL119.selected {
    color: white;
    background-color: #cb6f4c;

}