<button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseFilters" 
        aria-expanded="false" aria-controls="collapseFilters">
        <fa-icon [icon]="fa.faFilter"></fa-icon>
</button>
<div class="collapse" id="collapseFilters">
    <button *ngFor="let but of filterButtons"  class="btn btn-primary btn-icon wmar" [ngClass]="[but.label, but.cssState]" (click)="onClick(but)" >
        <span>{{but.displayLabel}}</span>
    </button>
</div>