h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.mat-dialog-content {
  padding: 1px 24px;
}
.btn {
  padding: 4px 8px;
}
.card-header {
  padding: 0.2rem 1rem;
  background-color: aliceblue;
}

.card:after {
  margin-top:10px;
}
.card .card-body {
  padding: 10px 24px 10px 24px;
}

