<div class="container">
  <div class="row">
    <div class="col">
      <h2>Aiuto e FAQ</h2>
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="Cosa si intende per Interventi Assegnati?">
          <ng-template ngbPanelContent>
            Si definiscono assegnati i fondi destinati alla pianificazione degli
            interventi, stabiliti dalla Presidenza del Consiglio dei ministri.
            I fondi sono del ProteggItalia sono assegnati a base Regionale e per
            le due province autonome di Trento e Bolzano
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2" title="Cosa si intende per Interventi Approvati?">
          <ng-template ngbPanelContent>
            Si definiscono approvati gli interventi ed i relativi importi
            del piano presentato al Dipartimento della Protezione civile
            della Presidenza del Consiglio dei ministri che hanno
            ricevuto una approvazione formale, con l’attribuzione di un
            codice univoco intervento.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3" title="Cosa si intende per Interventi Attivati?">
          <ng-template ngbPanelContent>
            Si definiscono attivati gli interventi ed i relativi importi
            del piano presentato al Dipartimento della Protezione civile
            della Presidenza del Consiglio dei ministri che hanno un CUP
            (Codice unico progetto) operativo.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-4" title="Cosa si intende per Interventi Appaltati?">
          <ng-template ngbPanelContent>
            Si definiscono appaltati gli interventi ed i relativi importi
            del piano presentato al Dipartimento della Protezione civile
            della Presidenza del Consiglio dei ministri che hanno un CIG
            (Codice identificativo di gara) operativo, ossia hanno come
            minimo iniziato la fase di appalto. Se interventi destinati
            a privati sono definiti dalla presenza di un bando o avviso.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-5" title="Cosa si intende per Interventi Aggiudicati?">
          <ng-template ngbPanelContent>
            Si definiscono aggiudicati gli interventi ed i relativi importi
            del piano presentato al Dipartimento della Protezione civile della
            Presidenza del Consiglio dei ministri che hanno un CIG (codice
            identificativo di gara) operativo ed un importo di aggiudicazione
            definitivo, ossia hanno terminato la fase di appalto. Nel caso di
            interventi privati si intendono avviati dal momento della approvazione
            della graduatoria dei beneficiari dei contributi .
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-6" title="Cosa si intende per Interventi Avviati?">
          <ng-template ngbPanelContent>
            Si definiscono avviati gli interventi ed i relativi importi del
            piano presentato al Dipartimento della Protezione civile della
            Presidenza del Consiglio dei ministri che hanno un contratto (o
            atto simile giuridicamente vincolante) operativo . Nel caso di
            interventi privati si intendono avviati dal momento della pubblicazione
            della graduatoria dei beneficiari dei contributi e del decreto di avvio
            delle modalità di rimborso.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-7" title="Cosa si intende per Interventi Erogati?">
          <ng-template ngbPanelContent>
            Si definiscono erogati gli interventi ed i relativi importi del
            piano presentato al Dipartimento della Protezione civile della
            Presidenza del Consiglio dei ministri che hanno effettuato
            pagamenti ai beneficiari finali.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-8" title="Cosa si intende per Interventi Conclusi?">
          <ng-template ngbPanelContent>
            Si definiscono conclusi gli interventi ed i relativi importi
            del piano presentato al Dipartimento della Protezione civile della
            Presidenza del Consiglio dei ministri che hanno concluso sia i SAL
            (stato avanzamento lavori) fisici che finanziari.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="static-9" title="Cosa si intende per Indice Avanzamento Pagamenti - IAP ?">
          <ng-template ngbPanelContent>
            Indicatore dello stato di avanzamento dei pagamenti per i lavori di un certo intervento. Esso riporta lo storico dei pagamenti effettuati nell'ambito dell'intervento: pagamenti  erogati rispetto all'importo dell'intervento approvato dal piano di protezione civile.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="static-10" title="Cosa si intende per Indice Avanzamento Contabile - IAC ?">
          <ng-template ngbPanelContent>
            Indicatore dello stato di avanzamento contabile per i lavori di un certo intervento. Esso riporta lo storico dei SAL - stati di avanzamento dei lavori - effettuati nell'ambito dell'intervento: SAL rispetto all'importo approvato dal piano di protezione civile.
          </ng-template>
        </ngb-panel>

      </ngb-accordion>

      <hr />
      <h3>FAQ Emergenze meteo-idro</h3>
      <p>Consulta le <a href="http://www.protezionecivile.gov.it/amministrazione-trasparente/interventi-straordinari-emergenza/emergenze-rischio-meteo-idro/faq" target="_blank">
      domande e risposte per emergenze per il rischio meteo-Idro</a> della Protezione Civile
    </p> 

      <h3>Contatti</h3>
      <p>Per richieste di informazioni o segnalazioni di cittadini sulle attività di competenza
        del Dipartimento della Protezione Civile, è attivo il <a href="http://www.protezionecivile.gov.it/media-comunicazione/contact-center" target="_blank">Contact Center</a>, a cui rivolgersi
        tramite numero verde 800840840 (9-18, da lunedì a venerdì) o <a href="http://www.protezionecivile.gov.it/media-comunicazione/contact-center/scrivi" target="_blank">modulo online</a>.</p>


    </div>
  </div>
</div>