<div class="container">
  <div class="row">
    <div class="col">
      <h2>Cos'è il Piano Interventi Nazionale</h2>
      <div>
        <p>
          È un Piano nazionale per la sicurezza del territorio basato su quattro pilastri: “emergenza”,
          “prevenzione”, “manutenzione” e “semplificazione” e “rafforzamento della governance”. In sintesi,
          maggior coordinamento e semplificazione per investire e spendere meglio e più velocemente.
        </p>
        <p>
          La gestione del pilastro “emergenza” è affidata al Dipartimento della Protezione Civile (DPC).
          Dispone di risorse per 3,124 miliardi sul triennio 2019-2021 per le 16 Regioni e le province
          autonome di Trento e Bolzano colpite dal maltempo nei mesi di ottobre e novembre 2018 e per le
          quali è stato decretato lo stato di emergenza. Le risorse sono articolate in 2,6 miliardi
          previsti nella legge di bilancio 2019 e 524 milioni previsti nel decreto fiscale 2019.
        </p>

        <h2>Cos'è PIN</h2>

        <p>
          PIN è un applicativo sviluppato dal Dipartimento della Protezione Civile che rende immediatamente
          visibili e disponibili le informazioni sugli interventi del pilastro “emergenza” in corso di
          realizzazione contro il dissesto idrogeologico oltre ad ulteriori azioni mirate alla sicurezza
          del territorio e alla prevenzione del rischio. Le azioni sono suddivise in due gruppi secondo
          l’origine delle rispettive risorse finanziarie.
        </p>

        <h2>Come è fatto PIN</h2>
        <p>
          PIN intercetta direttamente i dati costantemente aggiornati dalle diverse piattaforme nazionali
          di monitoraggio. Presenta dunque la versione delle informazioni più recente e diretta, senza
          repliche, duplicazioni, passaggi di tabelle. Realizza un esempio di interoperabilità (i dati
          sono scambiati in forma automatica) e riuso (i dati forniti dagli attuatori per finalità di
          monitoraggio sono utilizzati da terze parti) realizzando l’essenza più significativa e
          caratteristica degli “open data”.
        </p>

        <h2>Cosa vedo su PIN</h2>
        <p>
          PIN consente di conoscere ed esplorare il livello di attuazione degli interventi del Piano.
          A partire dalla visione di insieme dell’intero territorio nazionale, fino al singolo intervento,
          è possibile aggregare le informazioni per macroregione, regione, provincia, comune e dunque
          trovare risposta a domande quali “A che punto è il piano nel Lazio?”, “Quanti e dove sono
          gli interventi nella Provincia di Belluno”, “Quanto sta costando l’intervento che vedo
          realizzare davanti a casa mia?”
        </p>

        <h2>Come si usa PIN</h2>
        <p>
          Il cuore dell’informazione di PIN è la mappa che, come in ogni app di informazione geografica
          può essere spostata, ingrandita o allargata con i gesti usuali. Il tap specializza la
          visualizzazione dei dati secondo il livello di zoom in atto: intero paese, macroregione,
          regione e così via. Le informazioni stanno sulla tendina che può essere aperta o chiusa
          facendola scorrere con il dito.
        </p>

        <h2>Gli interventi sulla mappa di PIN</h2>
        <p>
          Sono oltre 6000. Per comprendere dove sono localizzati PIN usa due visualizzazioni: una
          “a macchie” pentagonali, colorate a seconda della fonte di finanziamento, aggrega più interventi
          ed è usata per i livelli più estesi di zoom. Andando a stringere verso un maggiore dettaglio,
          appaiono i segnaposto con l’elmetto colorato in blu o in arancione, a seconda del tipo di finanziamento.
        </p>
        <h2>Gli indicatori circolari di PIN</h2>
        <p>
          Il monitoraggio degli interventi (o anche di un solo intervento) di PIN è sintetizzato nella tendina
          con due indicatori circolari di avanzamento: contabile e dei pagamenti. Il primo indica la percentuale
          dell’importo lavori contabilizzati rispetto al totale degli importi contrattuali in atto mentre il
          secondo presenta i pagamenti effettuati, rispetto al totale dell’importo approvato dell’intervento.
          Ambedue gli indici sono scalabili e mostrano la situazione aggregata per territorio o fonte di
          finanziamento, dall’intero piano fino alla singola opera.
        </p>
        <h2>L’imbuto di PIN</h2>
        <p>
          Il grafico “a imbuto” nella tendina permette di seguire il flusso di un qualsiasi insieme di
          interventi (tutti, una regione, provincia ecc..) nel percorso che porta dallo stanziamento delle
          risorse e prosegue, via via, fino al loro completamento e dispiegamento sul territorio. Offre un
          colpo d’occhio della dinamica del Piano per fasi e distribuzione territoriale.
        </p>

        <h2>Le norme di finanziamento</h2>
        <p>Gli interventi presenti su PIN sono previsti dalle seguenti norme, differenziate per colore:</p>
        <ol>
          <li>
            <strong>Azzuro - Comma 1028</strong>: DECRETO DEL PRESIDENTE DEL CONSIGLIO DEI MINISTRI 27 febbraio 2019
            Assegnazione di risorse finanziarie di cui all'articolo 1, <a
              href="http://www.gazzettaufficiale.it/eli/id/2019/04/03/19A02183/sg" target="_blank">comma 1028</a>,
            della legge 30 dicembre 2018, n. 145. (19A02183) (GU Serie Generale n.79 del 03-04-2019)
          </li>
          <li>
            <strong>Arancione - Art. 24-quater</strong>: DECRETO DEL PRESIDENTE DEL CONSIGLIO DEI MINISTRI 4 aprile 2019
            Assegnazione di risorse finanziarie di cui all'articolo <a
              href="https://www.gazzettaufficiale.it/eli/id/2019/05/18/19A03152/sg" target="_blank">24-quater</a>,
            del decreto-legge 23 ottobre 2018, n. 119, convertito, con modificazioni,
            dalla legge 17 dicembre 2018, n. 136. (19A03152) (GU Serie Generale n.115 del 18-05-2019)
          </li>
        </ol>
        <p>
          L’applicazione è disponibile all'indirizzo <a
            href="https://pin.protezionecivile.it">pin.protezionecivile.it</a>
        </p>
      </div>
    </div>
  </div>
</div>