<div class="cookiebar">
    <p>Questo sito utilizza cookie tecnici, analytics e di terze parti. <br>Proseguendo nella navigazione accetti l’utilizzo dei cookie.</p>
    <div class="cookiebar-buttons">
      <a href="http://www.protezionecivile.gov.it/strumenti/footer/privacy" target="_blank" class="cookiebar-btn">Informativa <span class="sr-only">cookies</span></a>
      <button data-accept="cookiebar" class="cookiebar-btn cookiebar-confirm">Accetto<span class="sr-only"> i cookies</span></button>
    </div>
  </div>
  