<div class="container staticpages">
  <div class="row">
    <div class="col">
      <h2>Open data</h2>
      <div>
        <h3>
          Opendata del DPC - Dipartimento di Protezione Civile struttura della Presidenza del Consiglio dei Ministri:
        </h3>
        <ul>
          <li>
            <p>
              DATASET Anagrafica degli interventi Pianificati (licenza: <a href="https://creativecommons.org/licenses/by/4.0/legalcode.it" target="_blank">CC BY 4.0</a>)<br />data rilascio 15 novembre 2019:
            </p>
            Scarica nei formati:
            <ul>
              <li><a href="/assets/opendata/interventi_20191115.csv">CSV</a></li>
              <li><a href="/assets/opendata/interventi_20191115.xlsx">XLSX</a></li>
            </ul>
            <p>
          </li>
        </ul>
        Schema metadati del dataset:<br />

        <div class="table-responsive">

          <table class="table table-sm table-condensed table-striped" style="font-size:14px;">
            <thead>
              <tr>
                <th>Nome Campo</th>
                <th>Descrizione</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>id_int</strong></td>
                <td>Codice identificativo dell'intervento</td>
              </tr>
              <tr>
                <td><strong>cod_rip</strong></td>
                <td>Codice ISTAT della ripartizione geografica</td>
              </tr>
              <tr>
                <td><strong>cod_reg</strong></td>
                <td>Codice ISTAT numerico che identifica univocamente le 20 regioni italiane sul territorio nazionale
                </td>
              </tr>
              <tr>
                <td><strong>pro_com</strong></td>
                <td>Codice ISTAT numerico che identifica univocamente il Comune sul territorio nazionale</td>
              </tr>
              <tr>
                <td><strong>utilizzo</strong></td>
                <td>identifica il tipo di utilizzo degli importi.
                  <!--ul>
                    <li><strong>A</strong> per importi assegnati</li>
                    <li><strong>C</strong> per importi a disposizione dei Commissari</li>
                    <li><strong>P</strong> per importi destinati a rimborsi per Privati e Imprese</li>
                    <li><strong>I</strong> per interventi pubblici</li>
                  </ul-->
                  Gli interventi presenti nel file open data sono tutti interventi ti tipo "I"
                </td>
              </tr>
              <tr>
                <td><strong>cod_interno</strong></td>
                <td>Codice identificativo interno utilizzato dal soggetto richiedente</td>
              </tr>
              <tr>
                <td><strong>REGIONE</strong></td>
                <td>Regione o Provincia autonoma referente per il piano</td>
              </tr>
              <tr>
                <td><strong>PROV</strong></td>
                <td>Sigla delle Province coinvolte separate dal carattere "|"</td>
              </tr>
              <tr>
                <td><strong>MULTIPROV</strong></td>
                <td>Indica il numero di Province coinvolte nell'intervento</td>
              </tr>
              <tr>
                <td><strong>COMUNI</strong></td>
                <td>Sigla dei Comuni coinvolti separati dal carattere "|"</td>
              </tr>
              <tr>
                <td><strong>MULTICOMUNE</strong></td>
                <td>Indica il numero di Comuni coinvolti nell'intervento</td>
              </tr>
              <tr>
                <td><strong>SOGG_ATTUATORE</strong></td>
                <td>Soggetto attuatore dell'intervento delegato dal Commissario
                  con la responsabilità della realizzazione e
                  monitoraggio dell'intervento</td>
              </tr>
              <tr>
                <td><strong>IMPORTO_APPROVATO_2019</strong></td>
                <td>Importo complessivo richiesto al DPC per il
                  finanziamento della spesadell’intervento previsto
                  nel 2019</td>
              </tr>
              <tr>
                <td><strong>CUP</strong></td>
                <td>Codice unico di progetto</td>
              </tr>
              <tr>
                <td><strong>DESCRIZIONE</strong></td>
                <td>Descrizione dell'intervento</td>
              </tr>
              <tr>
                <td><strong>LAT_4326</strong></td>
                <td>Latitudine della localizzazione dell'intervento in EPSG:4326</td>
              </tr>
              <tr>
                <td><strong>LON_4326</strong></td>
                <td>Longitudine della localizzazione dell'intervento in EPSG:4326</td>
              </tr>
              <tr>
                <td><strong>OCDPC</strong></td>
                <td>Numero ordinanza di protezione civile che regola la gestione del piano</td>
              </tr>
              <tr>
                <td><strong>DATA_APPROVAZIONE</strong></td>
                <td>Data dell’approvazione dell’intervento da parte del DPC</td>
              </tr>
              <tr>
                <td><strong>FONTE_FINANZIAMENTO</strong></td>
                <td>Codifica della norma di finanziamento del piano degli interventi:
                  <ul>
                    <li><strong>LN145</strong> per i piani finanziati con Art.1 Comma 1028 L.N.
                      145/2018</li>
                    <li><strong>DL119</strong> per i piani finanziati con Art. 24-quater, D.L. 119/2018</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><strong>ULTIMO_AGGIORNAMENTO</strong></td>
                <td>Data di ultima modifica dell' intervento</td>
              </tr>

            </tbody>
          </table>
        </div>
        <h3>
          Altri siti web Opendata dei partner istituzionali:
        </h3>
        <ul>
          <li>Opendata del DIPE - openCUP - <a href="http://opencup.gov.it" target="_blank">http://opencup.gov.it</a>
          </li>
          <li>Opendata del MEF - Open BDAP - <a href="https://openbdap.mef.gov.it"
              target="_blank">https://openbdap.mef.gov.it</a></li>
          <li>Opendata dell'ANAC - Portale della trasparenza - <a href="http://portaletrasparenza.anticorruzione.it"
              target="_blank">http://portaletrasparenza.anticorruzione.it</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>