.radial-info{
  position: relative;
  .radial{
    display: block;
    width: 50%;
    padding-top: 50%;
    border-radius: 50%;
    background-image: conic-gradient(#919191 100%, #033162 0%);
    transform: scaleY(-1);
    position: relative;

    &:before {
      position: absolute;
      content: '';
      display: block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 80%;
      height: 80%;
      background: #fff;
      top:10%;
      left:10%;
    }

  }
  .percentage{
    display: block;
    height: 100%;
    color: #033162;
    border-radius: 50%;
    width: 50%;
    position: absolute;
    top: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    z-index: 10;
    padding-top: calc(25% - 0.5em);
    font-size: 3vw;
  }
  .label{
    position: absolute;
    background: #fff;
    bottom:-1%;
    padding:12px 8px 6px 2vw;
    left:25%;
    width: 70%;
    color:#033162;
    height: 51%;
    z-index: 7;
    font-weight: bold;
    font-size: 3.5vw;
    line-height: 1.1em;
    text-transform: capitalize;
  }

}


@media (min-width:992px) {
  .radial-info{
    .percentage{
      font-size: 0.9vw;
    }
    .label{
      padding:12px 8px 6px 1vw;
      font-size: 1vw;

    }

  }
}

