<div class="radial-info">
  <div class="radial">
  </div>
  <span class="percentage">{{(data.temp/data.totale*100) | number:'1.0-1':'it-IT'}} %</span>
  <div class="label">{{data.label}}</div>
</div>
