<lib-error *ngIf="error_code" [code]='error_code'></lib-error>
<div id="map-container" *ngIf="!error_code">
  <ng-map [options]='view_options' [extent]='extent'>
    <!-- Add layers -->
    <ng-map-layer *ngFor="let l of layers; let i = index" [type]='l.type' [options]='l.options' [index]='i'>
    </ng-map-layer>
  </ng-map>
</div>
<div class="info-wrapper" *ngIf="!error_code" [class.expanded]="intervento" [class.moving]="dragged" cdkDragLockAxis="y"
  cdkDrag (cdkDragStarted)="dragStarted($event)" (cdkDragEnded)="dragEnded($event)"
  [cdkDragFreeDragPosition]="dragPosition" [cdkDragDisabled]="!enableDrag">
  <div *ngIf="intervento" class="overlay-return" (click)="retriveInfo()"></div>
  <div class="map-controls" [class.noattribution]="!showAttribution">
    <ng-map-control-zoom [animate]='false'></ng-map-control-zoom>
    <ng-map-control-geolocation [zoom]='12' [options]='{ trackingOptions: { enableHighAccuracy: true } }'>
    </ng-map-control-geolocation>
    <ng-map-control-basemap-toggler
      [bmaps]="{default: {layers: ['gmaps'],icon:'/assets/svg/map.svg'}, other: {layers: ['skobbler'], icon:'/assets/svg/sat.svg'}}">
    </ng-map-control-basemap-toggler>
    <pin-app-control-share></pin-app-control-share>
    <pin-map-control-layerfilter (filterEvent)="onFinancingSourcesFiltering($event)"></pin-map-control-layerfilter>
    <div class="attribution-bar" *ngIf="showAttribution">
      <!--<ng-map-control-scale [options]=''></ng-map-control-scale>-->
      <ng-map-control-attribution  [options]='{ collapsible: false }'></ng-map-control-attribution>
    </div>
  </div>
  
  <div id="infobox" *ngIf="selected">
    <div class="feature-selected-label d-flex align-items-center" [class.animated]="isAnimated" cdkDragHandle
      (click)="infoExpanded($event)">
      <span *ngIf="enableDrag" class="dragHandle"></span>
      <img *ngIf="selected.layer.indexOf(INTERVENTI)>=0" class="d-lg-none icon" src="/assets/svg/pin.svg" alt="PIN">
      <img *ngIf="selected.layer.indexOf(INTERVENTI)===-1" class="d-lg-none icon" src="/assets/svg/confini.svg"
        alt="PIN">
      <div class="selected-label-content">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li *ngFor="let link of selected.breadcrumb; last as isLast" class="breadcrumb-item">
              <a [routerLink]="['/', link.t, link.id]">{{ link.name }}</a><span *ngIf="!isLast"
                class="separator">></span>
            </li>
          </ol>
        </nav>
        <h2>{{ selected.nome }} {{selected.int_id}}</h2>
        <div class="label-meta-info">
          <ng-container *ngIf="selected.layer.indexOf(INTERVENTI)>=0; else genericLabel">
            <span><b>ID</b>: {{selected.id_int}}</span>
            <span><b ngbTooltip="Importo approvato">Importo</b>:
              {{selected.IMPORTO_APPROVATO_2019 || 0 | currency:'EUR':'symbol':'1.2-2':'it-IT'}}</span>
          </ng-container>
          <ng-template #genericLabel>
            <span>Interventi: <b>{{this.nr_interventi || 0}}</b></span>
            <ng-container
              *ngIf="selected.layer===MACROREGIONI || selected.layer===REGIONI || selected.layer===ITALIA || (selected.layer===PROVINCE && (selected.cod_prov === 21 || selected.cod_prov === 22)); else elseTemplate">
              <span><u ngbTooltip="Importo stanziato">Importi:</u> <b>
                  {{this.totale_assegnato || 0 | currency:'EUR':'symbol':'1.2-2':'it-IT'}}</b></span>
            </ng-container>
            <ng-template #elseTemplate>
              <span><u ngbTooltip="Importo approvato per interventi pubblici" triggers="click:hover">Importi:</u> <b>
                  {{this.importo_interventi || 0 | currency:'EUR':'symbol':'1.2-2':'it-IT'}}</b></span>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
    <div id="sidebar" *ngIf="intervento">
      <ng-scrollbar [visibility]="'hover'" class="scroller">
        <div class="sidebar-overflow">
          <ng-container *ngIf="selected.layer.indexOf(INTERVENTI)>=0; else genericSidebar">
            <div class="overview-data">
              <h4>Intervento cod. {{selected.id_int}} </h4>
              <em
                class="data-coordinates">"{{intervento.GOOGLE_GEOCODING || intervento.LAT_4326 +' '+ intervento.LON_4326}}"</em>
              <div class="row">
                <div class="col-6">
                  <app-radial-graph [data]="{intn: selected.nome, temp:intervento.IMPORTO_SAL, totale:intervento.IMPORTO_APPROVATO_2019,  label:'Avanzamento Contabile'}">
                  </app-radial-graph>
                </div>
                <div class="col-6">
                  <app-radial-graph [data]="{intn: selected.nome, temp:intervento.TOTALE_PAGAMENTI, totale:intervento.IMPORTO_APPROVATO_2019, label:'Avanzamento Pagamenti'}">
                  </app-radial-graph>
                </div>
              </div>
            </div>
            <div class="sidebar-content">
              <h4>Dettagli intervento</h4>
              <div class="pin-data">
                <div class="data-item">
                  <h4>CUP</h4>
                  <span>{{intervento.CUP}}</span>
                </div>
                <div class="data-item">
                  <h4>CIG</h4>
                  <span *ngIf="(intervento.CIG_JSON | json) === '{}'">
                    {{ intervento.CIG || 'n.d.' | replace:'[|]':', ' }}</span>
                  <div id="accordionCig" class="collapse-div cig-list" role="tablist"
                    *ngIf="(intervento.CIG_JSON | json) !== '{}'">
                    <ng-container *ngFor="let item of intervento.CIG_JSON | keyvalue">
                      <div class="collapse-header" [attr.id]='"headingC"+item.key'>
                        <button data-toggle="collapse" [attr.data-target]='"#accordionC"+item.key' aria-expanded="false"
                          [attr.aria-controls]='"accordionC"+item.key'>
                          {{item.value.cig}}
                        </button>
                      </div>
                      <div [attr.id]='"accordionC"+item.key' class="collapse" role="tabpanel"
                        [attr.aria-labelledby]='"headingC"+item.key'>
                        <div class="collapse-body">
                          <span class="cig-row"> <b>Descrizione: </b>{{item.value.desc_cig}}</span>
                          <span class="cig-row"> <b>Importo:
                            </b>{{item.value.importo | currency:'EUR':'symbol':'1.2-2':'it-IT'}}</span>
                          <span class="cig-row"> <a href="{{simog + item.value.cig}}" target="_blank">Visualizza i
                              dettagli su simog <svg class="icon icon-xs">
                                <use xlink:href="/assets/svg/sprite.svg#it-external-link"></use>
                              </svg></a></span>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="data-item">
                  <h4>Ente attuatore</h4>
                  <span>{{intervento.SOGG_ATTUATORE}}</span>
                </div>
                <div class="data-item">
                  <h4>Descrizione intervento</h4>
                  <span>{{intervento.DESCRIZIONE | lowercase}}</span>
                </div>
                <div class="data-item">
                  <h4>Comune/i dell'intervento</h4>
                  <span>{{intervento.COMUNI | replace:'[|]':', '}}</span>
                </div>
                <div class="data-item">
                  <h4>Data approvazione</h4>
                  <span>{{intervento.DATA_APPROVAZIONE | date:'dd/MM/yyyy'}}</span>
                </div>
                <div class="data-item" *ngIf="intervento.DATA_AGG_DEF">
                  <h4>Data aggiudicazione</h4>
                  <span>{{intervento.DATA_AGG_DEF | date:'dd/MM/yyyy'}}</span>
                </div>
                <div class="data-item" *ngIf="intervento.DATA_CONTRATTO_DEF_MIN">
                  <h4>Data contratto effettiva</h4>
                  <span>{{intervento.DATA_CONTRATTO_DEF_MIN | date:'dd/MM/yyyy'}}</span>
                </div>
                <div class="data-item">
                  <h4>Fonte finanziamento</h4>
                  <span>{{intervento.FONTE_FINANZIAMENTO}}</span>
                </div>
                <div class="data-item">
                  <h4>Ordinanza nr.</h4>
                  <span>{{intervento.OCDPC}}</span>
                </div>
                <div class="data-item" *ngIf="intervento.TOTALE_PAGAMENTI>0">
                  <h4>Importo Pagato</h4>
                  <span>{{intervento.TOTALE_PAGAMENTI}}</span>
                </div>
                <div class="data-item">
                  <h4>Ultimo aggiornamento</h4>
                  <span>{{intervento.ULTIMO_AGGIORNAMENTO || 'n.d.'}}</span>
                </div>
                <div class="other-data">
                  <a href="http://opencup.gov.it/progetto/-/cup/{{intervento.CUP}}" *ngIf="intervento.CUP"
                    target="_blank">APRI IN OPEN CUP <svg class="icon icon-xs">
                      <use xlink:href="/assets/svg/sprite.svg#it-external-link"></use>
                    </svg></a><br />
                </div>
              </div>
            </div>
          </ng-container>

          <ng-template #genericSidebar>
            <div class="overview-data" *ngIf="intervento.nr_interventi_pubblici">
              <div class="row">
                <div class="col-6">
                  <app-radial-graph [data]="{intn: selected.nome, totale:this.importo_interventi, temp:this.sal, label:'Avanzamento Contabile'}">
                  </app-radial-graph>
                </div>
                <div class="col-6">
                  <app-radial-graph [data]="{intn: selected.nome, totale:this.importo_interventi, temp:this.pagamenti, label:'Avanzamento Pagamenti'}">
                  </app-radial-graph>
                </div>
              </div>

            </div>
            <div class="sidebar-content">
              <ng-container *ngIf="(intervento.nr_interventi_pubblici && intervento.funnel_data); else comuneIlleso">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active flex-fill" id="nav-tab1-tab" data-toggle="tab" href="#nav-tab1"
                      role="tab" aria-controls="nav-tab1" aria-selected="true">Grafico</a>
                    <a class="nav-item nav-link flex-fill" id="nav-tab2-tab" data-toggle="tab" href="#nav-tab2"
                      role="tab" aria-controls="nav-tab2" aria-selected="false">Descrizione</a>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane p-2 fade show active" id="nav-tab1" role="tabpanel"
                    aria-labelledby="nav-tab1-tab">
                    <app-funnel [data]='intervento.funnel_data' [actives]='active_financig_source'></app-funnel>
                  </div>
                  <div class="tab-pane p-2 fade" id="nav-tab2" role="tabpanel" aria-labelledby="nav-tab2-tab">
                    <h4>Descrizione degli stati</h4>
                    <div class="pin-data">
                      <table class="table table-sm table-striped">
                        <thead class="thead-light">
                          <tr>
                            <th>Stato Avanzamento</th>
                            <th>Descrizione</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><strong>ASSEGNATI</strong></td>
                            <td>Fondi assegnati dal governo</td>
                          </tr>
                          <tr>
                            <td><strong>APPROVATI</strong></td>
                            <td>Approvati dal Dipartimento Protezione Civile Nazionale</td>
                          </tr>
                          <tr>
                            <td><strong>ATTIVATI</strong></td>
                            <td>Attivati con CUP</td>
                          </tr>
                          <tr>
                            <td><strong>AGGIUDICATI</strong></td>
                            <td>Aggiudicati con un CIG o graduatoria del bando</td>
                          </tr>
                          <tr>
                            <td><strong>AVVIATI</strong></td>
                            <td>Avviati con un contratto o atto simile vincolante</td>
                          </tr>
                          <tr>
                            <td><strong>EROGATI</strong></td>
                            <td>Pagamenti effettuati</td>
                          </tr>
                          <tr>
                            <td><strong>CONCLUSI</strong></td>
                            <td>Interventi terminati</td>
                          </tr>
                        </tbody>
                      </table>
                      <p>&nbsp;</p>
                      <!--<div class="data-item" *ngFor="let item of selected | keyvalue" >
                      <h4>{{item.key}}</h4>
                      <span>{{item.value}}</span>
                    </div>-->
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #comuneIlleso>
                <div class="tab-content p-2">
                  <h4>Non risultano interventi sulla selezione effettuata</h4>
                  <p></p>
                  <div class="pin-data">
                  </div>
                </div>
              </ng-template>
            </div>
          </ng-template>
        </div>
      </ng-scrollbar>
    </div>
  </div>
</div>