@keyframes fade {
  0%{ opacity:1 }
  10%{ opacity:0.4 }
  100%{ opacity:1 }
}

.map-search {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 999;
}
.map-controls {
  position: absolute;
  top:0;
  right: 8px;
  transform: translateY(-100%);
  padding-bottom:2.5em;
  &.noattribution{
    padding-bottom: 0;
  }
}

.info-wrapper{
    position: fixed;
    width: 100%;
    top:calc(100% - 108px);
    height: auto;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-property: background-color, box-shadow;
    -moz-transition-property: background-color, box-shadow;
    -ms-transition-property: background-color, box-shadow;
    -o-transition-property: background-color, box-shadow;
    transition-property: background-color, box-shadow;

.scroller {
  --scrollbar-padding: 0px;
}

  #infobox{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

    #sidebar{
      display: none;
    }

    #temporary-plus{
      position: absolute;
      right: 8px;
      top: 10px;
      cursor: pointer;
    }

    .feature-selected-label{
      min-height: 83px;

      .selected-label-content{
        flex:1 1 auto!important;
      }

      &.animated{
        .selected-label-content > *{
          -webkit-animation: fade 0.8s 1 linear;
          -o-animation: fade 0.8s 1 linear;
          animation: fade 0.8s 1 linear;
        }
      }
      .breadcrumb{
        padding:0;
        margin:0;
        font-size: 0.8em;
        position: relative;
      }
      h2{
        font-size: 1.3em;
        line-height: 1.2em;
        white-space: normal;
        margin-bottom: 0;
      }
      .icon{
        margin-right: 8px;
        width:48px;
        height: 48px;
      }
      .label-meta-info{
        font-size: 0.85em;
        display: flex;

        & > *{
          flex:1 1 auto!important;
        }

      }
    }
  }

  &.expanded{
    background-color: rgba(0,0,0,0.3);
    top:64px;
    -webkit-box-shadow: 0 -20px 20px rgba(0,0,0,0.31);
    -moz-box-shadow: 0 -20px 20px rgba(0,0,0,0.31);
    box-shadow: 0 -20px 20px rgba(0,0,0,0.31);



    .overlay-return{
      display: block;
      width: 100%;
      height: 55px;
    }

    #infobox{
      height: calc(100vh - 115px);


      .feature-selected-label{
        padding-bottom: 8px;
      }
      #sidebar{
        border-top:1px solid #033162;
        display: block;
        height: calc(100% - 66px);
        overflow: hidden;
        .sidebar-overflow{
          height: 100%;
          overflow-wrap: break-word;
        }

        .nav-tabs{
          overflow-x: hidden;
          .nav-link.active,
          .nav-item.show .nav-link{
            border-bottom-color:#f5c011;
          }
        }
      }
    }

    &.expanded.moving{
      top:calc(100% - 108px);
      background: rgba(0,0,0,0);
      -webkit-box-shadow: 0 0 5px rgba(0,0,0,0);
      -moz-box-shadow: 0 0 5px rgba(0,0,0,0);
      box-shadow: 0 0 5px rgba(0,0,0,0);

      .overlay-return{
        height: 0;
      }
      #infobox{
        height: 100vh !important;
        overflow: hidden;
        #sidebar{
          height: 100% !important;
        }
      }
    }
    &.expanded.moving.onTop{
      .overlay-return{
        height: 55px;
      }
    }

  }
  .overview-data{
    background: #ffffff;
    padding:15px 0;
    min-height: 150px;
    margin:15px 0;
    h4{
      margin-bottom: 0;
      line-height: 1.2em;
      font-size: 1.2em;
      white-space: normal;
      font-weight: 800;
    }

    .data-coordinates{
      display: block;
      margin-bottom: 2em;
      font-weight: lighter;
    }
  }
  .empty-data{
    background: #f5f5f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:15px;
    min-height: 250px;
  }
  .sidebar-content{
    h4{
      margin-bottom: 0.5em;
      font-weight: 800;
      line-height: 1.2em;
      font-size: 1.3em;
    }
  }
  .pin-data{
    .data-item{
      margin-bottom:1em;
      padding-right: 10px;
      h4{
        font-size: 1em;
        margin-bottom: 0;
      }
      .cig-list{

        .collapse-header *[data-toggle='collapse']{
          padding:8px 6px 8px 0;
          font-weight: lighter;
        }
        .collapse-header:first-child *[data-toggle='collapse']{
          border-top:0;
        }
        .collapse-body{
          padding:8px;
        }
        .cig-row{
          display: block;
          line-height: 1.2em;

        }
      }
    }
    .other-data{
      border-top:1px solid #033162;
      padding:16px 0;
      margin-top: 16px;
    }
  }
}



@media (min-width:768px) {

  .feature-selected-label{
    .icon{
      width:48px;
      height: 48px;
    }
  }
}

@media (min-width:992px) {


  .info-wrapper {
    position: fixed;
    bottom:0 !important;
    width: 30%;
    height: calc(100% - 114px);
    margin-left: 0;
    top:auto;


    .map-controls {
      position: fixed;
      top: auto;
      transform: translateY(0);
      margin-bottom: 0;
    }

    &.expanded {
      height: calc(100% - 114px);
      background: transparent;
      top:auto;

      .overlay-return {
        display: none;
      }
      #infobox{
        #sidebar {
          display: block;
          padding-right: 0;
        }
      }

    }
    
  }

}
@media (max-width:568px) {
#infobox {
  .feature-selected-label {
    .label-meta-info {
       display: block !important;
      span{
        display: block !important;
        width: 100%;
      }
    }
  }
}
}

@media (max-width:991px) {
  #infobox {
    margin-left: 8px;
    width: calc(100% - 16px);
  }
}
