<div class="container">
  <div class="row">
    <div class="col">
      <h2>Crediti</h2>
      <div>
        <div style="margin: 15px 0 15px 0;">
          <div class="d-flex justify-content-around align-items-center  flex-wrap">
            <img src="/assets/img/logo_prociv.gif" style="max-width: 300px;margin-top: 2em;" />
            <img src="https://www.fondazionepolitecnico.it/images/logo.png" style="max-height: 80px;margin-top: 2em;" />
            <img src="/assets/img/logo_polimi_dica.jpg" style="max-height: 80px;margin-top: 2em;" />
          </div>
        </div>
        <p>
          PIN nasce da un accordo di collaborazione stipulato tra il:
          <ul>
            <li>Dipartimento della Protezione Civile (<a href="http://www.protezionecivile.gov.it/home"
                target="_blank">DPC</a>)</li>
            <li><a href="https://polimi.it" target="_blank">Politecnico di Milano, Dipartimento di Ingegneria civile e
                ambientale</a></li>
            <li><a href="https://polimi.it" target="_blank">Fondazione Politecnico di Milano</a></li>
          </ul>

          La responsabilità scientifica è del Prof. <a href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ricerche/RicercaPerDocentiPublic.do?evn_didattica=EVENTO&n_docente=Menduni&k_doc=917"
            target="_blank">Giovanni Menduni</a>
          del Politecnico di Milano

          Il gruppo di lavoro è composto:

          Per il Dipartimento della Protezione Civile:
          <ul>
            <li>Capo del Dipartimento</li>
            <li>Servizio Comunicazione e relazioni con il pubblico</li>
            <li>Servizio informatica e sistemi per le comunicazioni</li>
            <li>Ufficio IV - Attività per il Superamento dell’Emergenza e il Supporto agli Interventi Strutturali</li>
          </ul>
          Per Politecnico di Milano, Fondazione Politecnico e i relativi collaboratori:
          <ul>
            <li><a href="https://twitter.com/sagostinelli" target="_blank">Sergio Agostinelli</a></li>
            <li><a href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ricerche/RicercaPerDocentiPublic.do?evn_didattica=evento&k_doc=18368&aa=2012&lang=IT&jaf_currentWFID=main">Daniele Fabrizio Bignami</a></li>
            <li>Ilaria Boschini</li>
            <li>Michele Del Vecchio</li>
            <li>Luciana Giuzio</li>
            <li>Maria Antonia Pedone</li>
            <li>Silvano Dal Sasso</li>
            <li><a href="https://unifi.academia.edu/MariaFloraSalvatori">Maria Flora Salvadori</a></li>
            <li>Tommaso Sansone</li>
            <li><a href="https://www.sciamlab.com" target="_blank">SciamLab</a><br />(Data Analysis & Sviluppo App)</li>
            <ul>
              <li>Alessio Dragoni</li>
              <li>Paolo Starace</li>
              <li>Marco Roccisano</li>
            </ul>
            <li>Giovanna Sini</li>
            <li>Danilo Spina</li>
            <li>Fabrizio Verrocchi</li>
            <li>Federica Zambrini</li>

          </ul>
 </div>
    </div>
  </div>
</div>