<app-cookie-bar></app-cookie-bar>
<app-navigator></app-navigator>
<main>
    <router-outlet></router-outlet>
</main>
<lib-snackbar></lib-snackbar>
<app-loader></app-loader>
<pin-help-modal *ngIf="false"></pin-help-modal>
