
<div *ngIf="cookieValue!=='true'" class="it-example-modal">
  <div class="modal" tabindex="-1" role="dialog" id="help-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo-header-modal img-fluid" src="/assets/svg/pin_beta_modal.svg" alt="PIN">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <svg class="icon">
              <use xlink:href="/assets/svg/sprite.svg#it-close"></use>
            </svg>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>P.I.N.</strong> è un applicativo sviluppato dal <strong>Dipartimento della Protezione Civile</strong> che rende disponibili le informazioni del
            <strong>Piano Interventi Nazionale</strong> contro il <strong>dissesto idrogeologico</strong> per la messa in sicurezza del territorio e prevenzione del rischio.</p>
          <p>Su P.I.N. sono riportati gli interventi del pilastro "<strong>Emergenza</strong>" affidato alla Protezione Civile.</p>
          <p>Il progetto è in fase sperimentale fino al 31 dicembre 2019.</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button class="btn btn-primary btn-sm" type="button" data-dismiss="modal" aria-label="Close">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
