.it-example-modal{
  .modal-header{
    position:relative;
    .logo-header-modal{
      margin:0 auto;
      max-width: 100px;
    }
    button.close{
      position: absolute;
      right: 16px;
      top:16px;
      font-size: 2em;
      color:#033162;
      & > * {
        fill:#033162;
      }
    }
  }
  .modal-body{
    p{
      margin-bottom: 2em;
      font-size: 1.1em;
      line-height: 1.3em;
    }
  }
  .modal-footer{
    button.btn{
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background: #033162;
    }
  }
}
