/* You can add global styles to this file, and also import other style files */

$blue: #033162 !default;$italia: #033162 !default;
$header-center-bg-color:$blue;
$navbar-bg-color:$blue ;
$navigation-dark-bg-color:$blue;

@import '../node_modules/bootstrap-italia/src/scss/bootstrap-italia.scss';

body,html{
  margin: 0;
  padding:0;
}
main {
  height: 100vh;
  background: #fff;
  padding-top:64px;
  position: relative;
  top:0;left:0;
}
header{
  min-width: 300px;
  position: fixed;
  top:0;
  width: 100%;
  background-color:#113262 ;
  color:#fff;
  text-align: left;
  z-index: 10;
  vertical-align: middle;
  line-height: 26px;
}
hr {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 3px;
  margin-bottom: 6px;
}
#map-container{
  background: #d9d8d8;
  width: 100vw;
  height: calc(100vh - 64px);
  position: relative;
  display: block;
}

#infobox{
  min-width: 300px;
  position:relative;
  bottom:0;
  left:0;
  /*width: calc(100% - 16px); only on mobile tablet!*/
  width: 100%;
  background: #fff;
  color:#113262;
  min-height: 50px;
  padding: 15px 10px 10px 10px;
  /*margin-left: 8px; only on mobile tablet!*/
  -webkit-transition: all 0.3s linear ;
  -moz-transition: all 0.3s linear ;
  -ms-transition: all 0.3s linear ;
  -o-transition: all 0.3s linear ;
  transition: all 0.3s linear ;

  .dragHandle{
    width:20%;
    padding:15px 0;
    position: absolute;
    top:7px;
    margin-top: -16px;
    left:calc(40%);
    display: block;
  }
  .dragHandle:before{
    content:' ';
    position:relative;
    height: 3px;
    width: 100%;
    background: #999;
    border-radius: 2px;
    display: block;
  }

  h3{
    color: #113262;
    margin-bottom: 0;
  }
}

.label-meta-info{
  position: relative;
  span{
    position: relative;
    u {
      text-decoration: none;
      border-bottom: 1px dotted;
      margin-right: 5px;
    }
  }
  u + ngb-tooltip-window{
    -webkit-transform: translate(0,-40px) !important;
    -moz-transform: translate(0,-40px) !important;
    -ms-transform: translate(0,-40px) !important;
    -o-transform: translate(0,-40px) !important;
    transform: translate(0,-40px) !important;
  }

}


pin-map-control-layerfilter{
  position: relative;
}

// typeahead for search

.map-search{
  .search-wrapper{
    .dropdown-menu{
      width:100%;
      padding:0;
      background: #ddd;
      max-height: calc(100vh - 120px);
      overflow: hidden;

      &:before{
        background: #ddd;
        z-index: 2;
      }

      .dropdown-item{
        position: relative;
        z-index: 3;
        padding: 12px;
        line-height: 1.6em;
        overflow: hidden;
        font-size: 0.9em;

        &.active{
          background-color: #033162;
        }

        ngb-highlight{
          white-space: normal;
          line-height: 1.3em;
        }
      }
    }
  }
}

// @todo: temporary control style -> move to component

.map-controls{
  & > *{
    margin-bottom:6px;
  }
  &,ng-map-control-zoom{
    display:flex;
    flex-direction: column;
  }
  
  button{
    background: #fff;
    color:#033162;
    fill:#033162;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding:12px;
    line-height: 16px;
    -webkit-box-shadow:  -1px 1px 0 #919191;
    -moz-box-shadow:  -1px 1px 0 #919191;
    box-shadow:  -1px 1px 0 #919191;
    white-space: nowrap;
    width: max-content;

    &:focus{
      -webkit-box-shadow:  -1px 1px 0 #919191;
      -moz-box-shadow:  -1px 1px 0 #919191;
      box-shadow:  -1px 1px 0 #919191;
    }
  }

  ng-map-control-zoom{
    display: none;
    button{
      margin-bottom: 1px;
    }
  }
  ng-map-control-geolocation{
    button{
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  .attribution-bar{
    position: absolute;
    bottom:0;
    right: 0;
    width: calc(100vw - 16px);
    font-size: 12px;
    line-height: 1.1em;

    .ol-scale-line{
      background-color: rgba(255,255,255,0.9);
      bottom: 0;
      left: 0;

      .ol-scale-line-inner{
        border-color: #000;
        color:#000;
      }
    }
    .ol-attribution.ol-uncollapsible{
      padding:2px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      height: auto;

      ul{
        /*display: block;*/
        height: 16px;
        margin:1px;
      }
    }
  }
}


.svg-funnel-js{

  &#funnel {
    margin: 24px auto 70px auto;
  }

  &.svg-funnel-js--vertical {
    .svg-funnel-js__labels{
      z-index: 4;
    }
    .svg-funnel-js__subLabels{
      margin-top:12px;
      flex-wrap: wrap !important;
    }
    
    .svg-funnel-js__label {
      padding-top: 10px;

      .label__segment-percentages{
        width: auto;
        right: 15px;
        left: auto;
        z-index: 5;
        margin-left: 0;
        padding: 8px 16px;

        .segment-percentage__list{
          flex-direction: column;
        }

        ul li{
          margin:1px 0;
          span{
            display: inline;
          }
        }
      }
    }
  }

  .svg-funnel-js__container{
    width:200px !important;
    position: relative;
    margin:0 auto;
    z-index: 3;
  }

  .svg-funnel-js__subLabel,
  .label__value,
  .label__title {
    color: #033162 !important;
  }
  .label__value {
    font-size: 16px !important;
    line-height: 12px !important;
    margin-bottom: 2px !important;
  }
}

@media (min-width:992px) {

  header{
    width: 30%;
  }

  main {
    padding-top:0;
  }
  #map-container{
    width: 70%;
    margin-left:30%;
    height: 100vh;
  }
  .info-wrapper{
    position: fixed;
    bottom:0;
    width: 30%;
    height: calc(100% - 114px);
    margin-left: 0;
  }
  #infobox{
    height: auto;
    min-height: 0;
    position: relative;
    .dragHandle{
      display: none;
    }
  }
  .map-controls{
    bottom:0;
    .attribution-bar{
      width: 68vw;
      margin-bottom: 0;
    }
    ng-map-control-zoom{
      display:flex;
    }
    ng-map-control-geolocation{
      button{
        -webkit-box-shadow:  -1px 1px 0 #919191;
        -moz-box-shadow:  -1px 1px 0 #919191;
        box-shadow:  -1px 1px 0 #919191;
      }
    }
  }

}

.static-page {
  header{
    width: 100%;
  }
  main{
    padding-top:70px;
  }
  h2 {
    margin-top: 2rem;
  }
  .it-search-wrapper{
    display: none !important;
  }
  .container {
    padding: 0 10px 0 20px;
  }
}


