@keyframes rotation {
  100%{ transform:rotatey(360deg) }
}

.map-search{

  .search-link{
    color:#fff;
    fill:#fff;
    cursor: pointer;
    
    &.animated{
      -webkit-animation: rotation 0.5s infinite linear;
      -o-animation: rotation 0.5s infinite linear;
      animation: rotation 0.5s infinite linear;
      fill:#033162;
    }
  }
  .search-wrapper{
    position: absolute;
    width:0;
    overflow: hidden;
    flex-grow:1 !important;

  }
}

.form-control {
  width: 100%;
  border-bottom: 0;
  height: 50px;
  position: relative;
  z-index: 2;
}

@media (max-width: 991px) {
  .map-search{

    .search-wrapper{
      position: absolute;
      right: 18px;
      top: 7px;
    }
    &.opened{
      background: #fff;

      .search-link{
        position: relative;
        z-index: 3;
        fill:#919191;

        &.animated{
          fill:#033162;
        }
      }

      .search-wrapper{
        width: calc(100% - 65px);
        overflow: visible;

        .form-control{
          padding-right: 24px;
        }
      }

    }
  }

}

@media (min-width: 992px) {
  .map-search{
    .search-link{
      fill:#919191;
    }
    .search-wrapper{
      position: relative;
      width:auto;
      overflow: visible;
      color:#919191;

    }
  }

}


