
<div class="map-search d-flex flex-lg-row-reverse" [ngClass]="{'opened': opened}">
  <div class="search-wrapper">
    <input type="text" class="form-control" #searchInput [class.is-invalid]="searchFailed" [(ngModel)]="model" [ngbTypeahead]="search"
           placeholder="Cerca luogo su PIN" [resultTemplate]="rt" [inputFormatter]="formatter" />
  </div>
  <span [ngClass]="{'animated': searching}" class="search-link" aria-label="Cerca" >
    <svg class="icon icon-sm">
      <use xlink:href="/assets/svg/sprite.svg#it-search"></use>
    </svg>
  </span>

</div>
<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="search_service.getName(r)" [term]="t"></ngb-highlight>
</ng-template>
