<header class="it-header-wrapper fixed-top">
  <div class="it-header-center-wrapper it-small-header">
    <div class="container-fluid">
      <div class="it-header-center-content-wrapper">
        <div class="it-brand-wrapper">
          <a [routerLink]="['']" title="Home">
            <span class="icon icon-sm">
              <img class="img-fluid" src="/assets/svg/pin_white.svg" alt="PIN">
            </span>
            <div class="it-brand-text">
              <h4 class="d-inline">Dipartimento della Protezione Civile<br /></h4>
              <h2 class="no_toc d-inline">PIN</h2>
              <h3 class="no_toc d-inline"> Piano Interventi Nazionale</h3>
            </div>
          </a>
        </div>
        <div class="it-right-zone">
          <div class="it-search-wrapper">
            <pin-map-control-search></pin-map-control-search>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="it-header-navbar-wrapper theme-dark-mobile">
    <div class="container-fluid">
      <!--start nav-->
      <nav class="navbar">
        <button class="custom-navbar-toggler" type="button" aria-controls="primaryNav" aria-expanded="false"
          aria-label="Toggle navigation" data-target="#primaryNav">
          <svg class="icon">
            <use xlink:href="/assets/svg/sprite.svg#it-burger"></use>
          </svg>
        </button>
        <div class="navbar-collapsable" id="primaryNav">
          <div class="overlay" style="display: none;"></div>
          <div class="close-div sr-only">
            <button class="btn close-menu" type="button"><span class="it-close"></span>close</button>
          </div>
          <div class="menu-wrapper">
            <ul class="navbar-nav mb-auto">
              <li class="nav-item"><a class="nav-link" routerLink="/"><span>Mappa - PIN</span><span
                    class="sr-only">current</span></a></li>
              <li class="nav-item"><a class="nav-link" routerLink="about" routerLinkActive="active"><span>PIN -
                    Cos'è</span></a></li>
              <li class="nav-item"><a class="nav-link" routerLink="filieradati" routerLinkActive="active"><span>Filiera
                    dei dati</span></a></li>
              <li class="nav-item"><a class="nav-link" routerLink="opendata" routerLinkActive="active"><span>Open
                    Data</span></a></li>
              <li class="nav-item"><a class="nav-link" routerLink="faq" routerLinkActive="active"><span>Aiuto e
                    FAQ</span></a></li>
              <li class="nav-item"><a class="nav-link" routerLink="credits"
                  routerLinkActive="active"><span>Crediti</span></a></li>
            </ul>
            <div class="menu-disclaimer">
              <p><strong>P.I.N.</strong> è un applicativo sviluppato dal <strong>Dipartimento della Protezione Civile</strong> che rende disponibili le informazioni del
                <strong>Piano Interventi Nazionale</strong> contro il <strong>dissesto idrogeologico</strong> per la messa in sicurezza del territorio e prevenzione del rischio.<br/>
                 Su P.I.N. sono riportati gli interventi del pilastro "<strong>Emergenza</strong>" affidato alla Protezione Civile.<br/>
                 Il progetto è in fase sperimentale fino al 31 dicembre 2019.</p> 
                 <hr>
                 <p class="smaller"><strong>dati sono aggiornati al 15 Novembre 2019</strong></p>
            </div>
            <div class="menu-logo">
              <img src="/assets/svg/marchio_dpc_white.svg" class="img-fluid" />
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>