.it-header-center-wrapper {
  .it-header-center-content-wrapper {
    margin-left:24px;
    .it-brand-wrapper {
      .it-brand-text{
        padding-right: 0;
        line-height: 1em;
      }
      a {
        font-size: 1em;
        h2{
          color:#f9c00b;
          font-size: 1em;
        }
        h3{
          position: relative;
          padding-left:8px;
          font-size: 1em;
          line-height: 1em;

          &:after{
            content:'';
            width:3px;
            height: 3px;
            background: #fff;
            position: absolute;
            top:calc(50% - 1.5px);
            left:5px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
          }
        }
        h4{
          color:#fff;
          font-size: 0.9em;
          line-height: 1em;
        }
        .icon{
          width: 24px;
          height: auto;
        }
      }
    }
  }
}

.it-header-navbar-wrapper {
  nav {
      padding:0;
  }
}

.custom-navbar-toggler{
  position: absolute;
  margin-top: -44px;
  top: 0;
}

pin-map-control-search {
  width: 100%;
  display: block;
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link {
  padding: 4px 24px;
/*  clear: both;
  float: left;*/
  width: 100%;
}
.navbar .navbar-collapsable .navbar-nav li a.nav-link.active {
  border-left: 5px solid #fff;
  border-bottom: none;
}

.menu-wrapper {
  padding-top: 24px;
  display: flex;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;

  .menu-logo {

    .img-fluid {
      max-width: 180px;
      margin-left: 10px;
    }
  }

  .menu-disclaimer {
    border-top: 1px solid #fff;
    font-size: .8rem;
    padding: 10px 24px 0 24px;

    p {
      line-height: 16px;
      margin-bottom: 5px;
    }
    .smaller {
      font-size: .8em;
      line-height: 12px;
    }
  }

  
  
}

@media (max-width: 320px) {
  /*.it-header-center-wrapper {
    .it-header-center-content-wrapper {
      margin-left:0;
      padding-left: 32px;
    }
  }*/
  .it-brand-text {
    font-size: 0.8em;
  }
  .menu-wrapper {
    padding-top: 0;
    .menu-logo {
      .img-fluid {
        max-width: 140px;
      }
    }
  }
}


@media (min-width: 576px) {
  /*.it-header-center-wrapper {
    .it-header-center-content-wrapper {
      margin-left:0;
      padding-left: 32px;
    }
  }*/
  .it-header-navbar-wrapper {
    .navbar {
      background: #033162;
      .navbar-collapsable{
        width: 50%;
        max-width: 400px;
      }
    }
  }
}


@media (min-width: 992px) {

  .it-header-center-wrapper {
    &.it-small-header{
      height: 64px;
      padding-top:0;
    }
    .it-header-center-content-wrapper {
      display: block;


      .it-right-zone{
        left:0;
        position: absolute;
        background: #fff;
        width: 100%;
        margin-top:10px;
        border-bottom: 1px solid #919191;
      }


      .it-brand-wrapper {
        a {
          h3, h4{
            font-size: 1.2vw;
          }
        }
      }
      .it-search-wrapper{
        margin:0 15px;
        width: 100%;

      }
    }
  }

  .it-header-navbar-wrapper {
    nav {
      .navbar-collapsable {
        .menu-wrapper{
          background: #033162;
          position: relative;
          width: 100%;
          display: flex;
          -ms-flex-direction: column !important;
          flex-direction: column !important;
/*          -ms-flex-pack: justify !important;
*/          justify-content: space-end !important;
          height: 100%;
          align-items: normal;
        }
      }
    }

  }
}

@media (min-width: 1300px) {
  .it-header-center-wrapper {
    .it-header-center-content-wrapper {
      .it-brand-wrapper {
        a {
          h3, h4{
            font-size: 1em;
          }
        }
      }
    }
  }  
}



