<div class="container">
  <div class="row">
    <div class="col">
      <h2>Filiera dei dati</h2>
      <div>
        <p>Gli interventi sono pianificati dalle Regioni e delle province autonome di Trento e Bolzano
          e approvati dal <a href="http://www.protezionecivile.gov.it/home" target="_blank">DPC</a>,
          attraverso i commissari delegati alle emergenze.</p>
        <p>Ogni intervento è tracciato attraverso il suo codice unico di progetto (<a href="http://opencup.gov.it/"
            target="_blank">CUP</a>).
          I dati dell’investimento pubblico sono affidati alla piattaforma MIP/CUP istituita presso
          Dipartimento per la Programmazione e il coordinamento della politica Economica (<a
            href="http://www.programmazioneeconomica.gov.it/" target="_blank">DIPE</a>) della
          Presidenza del Consiglio dei Ministri. I diversi interventi, tracciati attraverso i CUP,
          danno luogo a uno o più appalti. Ogni appalto è a sua volta tracciato attraverso il codice
          CIG (codice identificativo di gara) sulla piattaforma SIMOG istituita presso l’Autorità
          nazionale anticorruzione (<a href="http://www.anticorruzione.it" target="_blank">ANAC</a>) che registra poi
          tutte le tappe della vita dell’appalto,
          all’interno della Banca Dati Nazionale dei Contratti Pubblici (<a
            href="http://portaletrasparenza.anticorruzione.it/microstrategy/html/index.htm" target="_blank">BDNCP</a>)
          fino alla conclusione.
        </p>
        <p>I dati di monitoraggio economico-finanziario sono messi a disposizione dal 
          <a href="http://www.rgs.mef.gov.it/" target="_blank">Ministero dell'Economia e delle Finanze - Dipartimento della Ragioneria Generale dello Stato</a> - 
          <a href="https://openbdap.mef.gov.it/" target="_blank">Banca Dati delle Amministrazioni Pubbliche</a></p>
        <p>
          Tutti questi dati sono esposti dai diversi produttori e PIN, grazie alla loro collaborazione,
          li intercetta, li aggrega e li rende disponibili tramite la sua interfaccia grafica.
        </p>
        <div style="margin: 15px 0 15px 0;">
          <div class="d-flex justify-content-around align-items-center flex-wrap">
            <a href="http://www.bdap.tesoro.it/sites/openbdap/cittadini/operepubbliche/operepubbliche/monitoraggiooperepubbliche/Pagine/SchedaContenuto.aspx"
              target="_blank"><img src="/assets/img/logo_dipe.svg" style="max-height: 60px;margin-top: 2em;" /></a>
            <a href="http://www.rgs.mef.gov.it/" target="_blank"><img src="/assets/img/logo_rgs.png"
                style="max-height: 60px;margin-top: 2em;" /></a>
            <a href="http://www.anticorruzione.it" target="_blank"><img src="/assets/img/logo_anac.jpg"
                style="max-height: 60px;margin-top: 2em;" /></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>